.products {
  padding-bottom: 72px;
  padding-top: 64px;

  @include on-tablet {
    padding-top: 0;
  }

  &__title {
    color: $accent-color;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 24px;
    padding-left: 16px;

    @include on-tablet {
      font-size: 56px;
      padding-left: 0;
    }

    @include on-desktop {
      font-size: 72px;
    }
  }

  &__text {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 56px;
    padding-left: 16px;
    width: 288px;

    @include on-tablet {
      padding-bottom: 80px;
      width: 680px;
      padding-left: 0;
    }

    @include on-desktop {
      padding-bottom: 80px;
    }
  }

  &__list {
    @include page-grid;

    row-gap: 56px;
    justify-content: center;

    // @include on-small-tablet {
    //   justify-content: left;
    // }

    @include on-desktop {
      row-gap: 80px;
    }
  }

  &__card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: contents;

    .products__card {
      grid-column: 1 / span 2;
    }

    @include on-small-tablet {
      grid-column: 1 / span 2;
    }

    @include on-tablet {
      &--left,
      &--right {
        .products__card:nth-child(1) {
          grid-column: 1 / span 4;
        }

        .products__card:nth-child(2) {
          grid-column: 5 / span 4;
        }
      }
    }

    @include on-mini-desktop {
      &--left {
        .products__card:nth-child(1) {
          grid-column: 1 / span 3;
        }

        .products__card:nth-child(2) {
          grid-column: 4 / span 3;
        }
      }

      &--right {
        .products__card:nth-child(1) {
          grid-column: 3 / span 3;
        }

        .products__card:nth-child(2) {
          grid-column: 6 / span 3;
        }
      }
    }

    @include on-desktop {
      &--left {
        .products__card:nth-child(1) {
          grid-column: 1 / span 3;
        }

        .products__card:nth-child(2) {
          grid-column: 4 / span 3;
        }
      }

      &--right {
        .products__card:nth-child(1) {
          grid-column: 3 / span 3;
        }

        .products__card:nth-child(2) {
          grid-column: 6 / span 3;
        }
      }
    }
  }
}

.card {
  &__top {
    width: 100%;
    height: 356px;
    border-radius: 8px;
    padding-bottom: 16px;

    @include on-small-tablet {
      height: 356px;
      width: 100%;
    }

    @include on-tablet {
      height: 424px;
      width: 328px;
    }

    @include on-big-tablet {
      height: 424px;
      width: 328px;
    }

    @media (min-width: 1200px) and (max-width: 1400px) {
      height: 424px;
      width: 328px;
    }

    // @include on-mini-desktop {
    //   height: 512px;
    //   width: 402px;
    // }

    @media (min-width: 1400px) {
      height: 560px;
      width: 432px;
    }

    // @include on-desktop {
    //   height: 560px;
    //   width: 432px;
    // }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
      border-radius: 8px;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    color: $product-title-color;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 8px;
  }

  &__description {
    font-size: 16px;
    color: $text-color;
    font-weight: 400;
    padding-bottom: 16px;
    width: 328px;
  }

  &__order {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $accent-color;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      fill: currentColor;
      transition: fill 0.3s ease;
    }

    &:hover {
      color: $menu-item-color;
    }
  }
}
